<div class="modal fade" id="informationForm" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Equipment manager </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 nopadding">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Modify</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Duplicate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="col-md-12 nopadding padding-top-xs">
                    <ul id="tabs" class="nav nav-tabs " data-tabs="tabs">
                        <li class="active"> <a href="#info-tabs-1" data-toggle="tab"> Identification </a> </li>
                        <li> <a href="#info-tabs-2" data-toggle="tab"> Notes and Validation </a> </li>
                        <li> <a href="#info-tabs-3" data-toggle="tab"> Nameplate Information </a> </li>
                        <li> <a href="#info-tabs-4" data-toggle="tab"> Bushing. Serial No. </a> </li>
                        <li> <a href="#info-tabs-5" data-toggle="tab"> Taps voltage </a> </li>
                        <li> <a href="#info-tabs-6" data-toggle="tab"> Norms </a> </li>
                        <li> <a href="#info-tabs-7" data-toggle="tab"> Load </a> </li>
                        <li> <a href="#info-tabs-8" data-toggle="tab"> Doc </a> </li>
                    </ul>
                    <div id="my-tab-content" class="tab-content maxwidth padding-top-xs">
                        <div id="info-tabs-1" role="tabpanel" class="tab-pane active ">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-5 nopadding padding-right-xs text-center"> Upstream equipment </div>
                                    <div class="col-md-7 nopadding">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Designation </legend>
                                            <div class="control-group">
                                                <div class="col-md-6 nopadding padding-right-xs">
                                                    {{ info.identification.equipment.label() }}
                                                    {{ info.identification.equipment(class_="form-control") }}
                                                </div>
                                                <div class="col-md-6 nopadding">
                                                    {{ info.identification.serial.label() }}
                                                    {{ info.identification.serial(class_="form-control") }}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-8 nopadding padding-right-xs">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            {{ info.identification.type.label() }}
                                            {{ info.identification.type(class_="form-control") }}
                                        </div>
                                        <div class="col-md-4 nopadding">

                                        </div>
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Information for printed reports </legend>
                                            <div class="control-group">
                                                <div class="col-md-6 nopadding padding-right-xs">
                                                    {{ info.identification.site.label() }}
                                                    {{ info.identification.site(class_="form-control") }}
                                                </div>
                                                <div class="col-md-6 nopadding">
                                                    {{ info.identification.substation.label() }}
                                                    {{ info.identification.substation(class_="form-control") }}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-8 nopadding padding-right-xs">
                                        {{ info.identification.manufacturer.label() }}
                                        {{ info.identification.manufacturer(class_="form-control") }}
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        {{ info.identification.year.label() }}
                                        {{ info.identification.year(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-8 nopadding padding-right-xs">
                                        {{ info.identification.position.label() }}
                                        {{ info.identification.position(class_="form-control") }}
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        {{ info.identification.description.label() }}
                                        {{ info.identification.description(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-8 nopadding padding-right-xs">
                                        <div class="col-md-8 nopadding">
                                            {{ info.identification.analyzer.label() }}
                                            {{ info.identification.analyzer(class_="form-control") }}
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <button type="button" class="btn btn-default margin-button" data-dismiss="modal">...</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        <div class="col-md-5 nopadding padding-right-xs">
                                            <div class="col-md-8 nopadding">
                                                {{ info.identification.cust.label() }}
                                                {{ info.identification.cust(class_="form-control") }}
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                <button type="button" class="btn btn-default margin-button" data-dismiss="modal">...</button>
                                            </div>
                                        </div>
                                        <div class="col-md-7 nopadding">
                                            {{ info.identification.cus_ds(class_="form-control margin-button") }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-2" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    {{ info.validation.transformer(class_="form-control") }}
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border"> Designation </legend>
                                        <div class="control-group">
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                <div class="col-md-12 nopadding">
                                                    {{ info.validation.validated(class_="pull-left padding-right-xs") }}
                                                    {{ info.validation.validated.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-12 nopadding">
                                                    {{ info.validation.validated_info(class_="pull-left padding-right-xs") }}
                                                    {{ info.validation.validated_info.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="col-md-7 nopadding">
                                                <div class="col-md-6 nopadding padding-right-xs">
                                                    {{ info.validation.equipment.label() }}
                                                    {{ info.validation.equipment(class_="form-control") }}
                                                </div>
                                                <div class="col-md-6 nopadding">
                                                    {{ info.validation.serial.label() }}
                                                    {{ info.validation.serial(class_="form-control") }}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-3" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-4 nopadding padding-right-xs">
                                        <div class="col-md-6 nopadding padding-right-xs">
                                            {{ info.nameplate.winding.label() }}
                                        </div>
                                        <div class="col-md-6 nopadding">
                                            {{ info.nameplate.winding(class_="form-control") }}
                                        </div>
                                    </div>
                                    <div class="col-md-2 nopadding padding-right-xs">
                                         {{ info.nameplate.phase(class_="pull-left padding-right-xs") }}
                                         {{ info.nameplate.phase.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="col-md-2 nopadding padding-right-xs">
                                         {{ info.nameplate.transf(class_="pull-left padding-right-xs") }}
                                         {{ info.nameplate.transf.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="col-md-2 nopadding padding-right-xs">
                                        {{ info.nameplate.sealed(class_="pull-left padding-right-xs") }}
                                        {{ info.nameplate.sealed.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="col-md-2 nopadding padding-right-xs">
                                        {{ info.nameplate.cover(class_="pull-left padding-right-xs") }}
                                        {{ info.nameplate.cover.label(class_="auto pull-left") }}
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="underline"></div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-10 nopadding text-center">
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-3"> Voltage (V) </div>
                                            <div class="col-md-3"> Power (MVA) </div>
                                            <div class="col-md-4"> BIL (kV) Elect. shield No. of taps </div>
                                            <div class="col-md-2"> Winding conn. </div>
                                        </div>
                                        <div class="col-md-12 nopadding text-center">
                                            Base / Forced 1 / Forced 2
                                        </div>
                                    </div>
                                    <div class="col-md-2 nopadding"> Neutral bushing </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-12 nopadding">
                                        <div class="col-md-1 nopadding padding-right-xs"> Pri. </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            {{ info.nameplate.pri_1(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.pri_2(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.pri_3(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.pri_4(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.pri_5(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs text-center">
                                            {{ info.nameplate.shield_1(class_="margin-check") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.taps_1(class_="form-control") }}
                                        </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            <div class="col-md-8 nopadding padding-right-xs">
                                                {{ info.nameplate.conn_1(class_="form-control") }}
                                            </div>
                                            <div class="cold-md-2 nopadding padding-right-xs">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopadding padding-top-xs">
                                        <div class="col-md-1 nopadding padding-right-xs"> Sec. </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            {{ info.nameplate.sec_1(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.sec_2(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.sec_3(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.sec_4(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.sec_5(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs text-center">
                                            {{ info.nameplate.shield_2(class_="margin-check") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.taps_2(class_="form-control") }}
                                        </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            <div class="col-md-8 nopadding padding-right-xs">
                                                {{ info.nameplate.conn_2(class_="form-control") }}
                                            </div>
                                            <div class="cold-md-2 nopadding padding-right-xs">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopadding padding-top-xs">
                                        <div class="col-md-1 nopadding padding-right-xs"> Tert. </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            {{ info.nameplate.tert_1(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.tert_2(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.tert_3(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.tert_4(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.tert_5(class_="form-control") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs text-center">
                                            {{ info.nameplate.shield_3(class_="margin-check") }}
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs">
                                            {{ info.nameplate.taps_3(class_="form-control") }}
                                        </div>
                                        <div class="col-md-2 nopadding padding-right-xs">
                                            <div class="col-md-8 nopadding padding-right-xs">
                                                {{ info.nameplate.conn_3(class_="form-control") }}
                                            </div>
                                            <div class="cold-md-2 nopadding padding-right-xs">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 nopadding padding-right-xs text-center">
                                            {{ info.nameplate.bushing(class_="margin-check") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="underline"></div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-4 nopadding padding-right-xs">
                                        <div class="col-md-12 nopadding">
                                            {{ info.nameplate.insulating.label() }}
                                            {{ info.nameplate.insulating(class_="form-control") }}
                                        </div>
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                {{ info.nameplate.rise.label() }}
                                            </div>
                                            <div class="col-md-7 nopadding">
                                                {{ info.nameplate.rise(class_="list-unstyled inline-li") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 nopadding padding-right-xs">
                                        <div class="col-md-12 nopadding text-center"> Impedance </div>
                                        <div class="col-md-12 nopadding"> <div class="underline"></div> </div>
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-6 nopadding padding-right-xs">
                                                {{ info.nameplate.mva.label(class_="text-center") }}
                                                {{ info.nameplate.mva(class_="form-control") }}
                                                {{ info.nameplate.mva_1(class_="form-control padding-top-xs") }}
                                            </div>
                                            <div class="col-md-6 nopadding ">
                                                {{ info.nameplate.mva_pro.label(class_="text-center") }}
                                                {{ info.nameplate.mva_pro(class_="form-control") }}
                                                {{ info.nameplate.mva_pro_1(class_="form-control padding-top-xs") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 nopadding padding-right-xs">
                                        {{ info.nameplate.qty.label() }}
                                        {{ info.nameplate.qty(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-2 nopadding padding-right-xs">
                                        {{ info.nameplate.wire.label() }}
                                        {{ info.nameplate.wire(class_="form-control") }}
                                    </div>
                                    <div class="col-md-6 nopadding padding-right-xs">
                                        {{ info.nameplate.maint.label() }}
                                        {{ info.nameplate.maint(class_="form-control") }}
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        {{ info.nameplate.freq.label() }}
                                        {{ info.nameplate.freq(class_="form-control") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-4" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding text-center">
                                    <div class="col-md-3 nopadding padding-right-xs"></div>
                                    <div class="col-md-3 nopadding padding-right-xs"> 1 </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> 2 </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> 3 </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.primary_1.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.primary_1(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.primary_2(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.primary_3(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.secondary_1.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.secondary_1(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.secondary_2(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.secondary_3(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer_1.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer_1(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type_1.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type_1(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.tertiary_1.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.tertiary_1(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.tertiary_2(class_="form-control") }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.tertiary_3(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer_2.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.manufacturer_2(class_="form-control") }} </div>
                                </div>
                                <div class="col-md-12 nopadding padding-top-xs">
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs">  </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type_2.label() }} </div>
                                    <div class="col-md-3 nopadding padding-right-xs"> {{ info.bushing.type_2(class_="form-control") }} </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-5" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-9 nopadding padding-right-xs">
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-1 nopadding padding-right-xs">  </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> Phase 1 </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> Phase 2 </div>
                                            <div class="col-md-3 nopadding padding-right-xs"> Phase 3 </div>
                                        </div>
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-1 nopadding padding-right-xs"> H/X  </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> {{ info.taps.phase_x_1(class_="form-control") }} </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> {{ info.taps.phase_x_2(class_="form-control") }} </div>
                                            <div class="col-md-3 nopadding padding-right-xs"> {{ info.taps.phase_x_3(class_="form-control") }} </div>
                                        </div>
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-1 nopadding padding-right-xs"> H/T  </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> {{ info.taps.phase_t_1(class_="form-control") }} </div>
                                            <div class="col-md-4 nopadding padding-right-xs"> {{ info.taps.phase_t_2(class_="form-control") }} </div>
                                            <div class="col-md-3 nopadding padding-right-xs"> {{ info.taps.phase_t_3(class_="form-control") }} </div>
                                        </div>
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                <table class="table">
                                                    <caption class="text-center">Primary</caption>
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Num </th>
                                                            <th> Tension V </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td> 1 </td>
                                                            <td> 46,200.00 </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                <table class="table">
                                                    <caption class="text-center">Secondary</caption>
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Num </th>
                                                            <th> Tension V </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                <table class="table">
                                                    <caption class="text-center">Tertiary</caption>
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Num </th>
                                                            <th> Tension V </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 nopadding padding-right-xs">
                                        <div class="col-md-12 nopadding text-center">
                                            <div> Ratio formula </div>
                                            <div> Primary/Secondary </div>
                                        </div>
                                        <div class="col-md-12 nopadding text-center">
                                            <div> Primary/Tertiary </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-6" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-6 nopadding padding-right-xs">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Oil quality. </legend>
                                            <div class="control-group">
                                                <div class="col-md-12 nopadding" style="padding:5% !important;">
                                                    <div class="col-md-10 nopadding padding-right-xs">
                                                        {{ info.norms.oil(class_="form-control") }}
                                                    </div>
                                                    <div class="col-md-2 nopadding">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 nopadding padding-right-xs">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Dissolved gases. </legend>
                                            <div class="control-group">
                                                <div class="col-md-12 nopadding" style="padding:5% !important;">
                                                    <div class="col-md-10 nopadding padding-right-xs">
                                                        {{ info.norms.gas(class_="form-control") }}
                                                    </div>
                                                    <div class="col-md-2 nopadding">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-6 nopadding">
                                       <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Furans. </legend>
                                            <div class="control-group">
                                                <div class="col-md-12 nopadding" style="padding:5% !important;">
                                                    <div class="col-md-10 nopadding padding-right-xs">
                                                        {{ info.norms.furnas(class_="form-control") }}
                                                    </div>
                                                    <div class="col-md-2 nopadding">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">...</button>
                                                    </div>
                                                </div>
                                            </div>
                                       </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-7" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                    <div class="col-md-6 nopadding padding-right-xs">
                                       <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Load planning. </legend>
                                            <div class="control-group">
                                                 <fieldset class="scheduler-border">
                                                    <legend class="scheduler-border"> Actual load </legend>
                                                    <div class="control-group">
                                                        <div class="col-md-6 nopadding padding-right-xs">
                                                            {{ info.loading.mw_actual.label(class_="text-center") }}
                                                            {{ info.loading.mw_actual(class_="form-control") }}
                                                        </div>
                                                        <div class="col-md-6 nopadding">
                                                            {{ info.loading.mvar_actual.label(class_="text-center") }}
                                                            {{ info.loading.mvar_actual(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                 </fieldset>
                                                 <fieldset class="scheduler-border">
                                                    <legend class="scheduler-border"> Reserved load </legend>
                                                    <div class="control-group">
                                                        <div class="col-md-6 nopadding padding-right-xs">
                                                            {{ info.loading.mw_reserved.label(class_="text-center") }}
                                                            {{ info.loading.mw_reserved(class_="form-control") }}
                                                        </div>
                                                        <div class="col-md-6 nopadding">
                                                            {{ info.loading.mvar_reserved.label(class_="text-center") }}
                                                            {{ info.loading.mvar_reserved(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                 </fieldset>
                                                 <fieldset class="scheduler-border">
                                                    <legend class="scheduler-border"> Maximum load </legend>
                                                    <div class="control-group">
                                                        <div class="col-md-6 nopadding padding-right-xs">
                                                            {{ info.loading.mw_maximum.label(class_="text-center") }}
                                                            {{ info.loading.mw_maximum(class_="form-control") }}
                                                        </div>
                                                        <div class="col-md-6 nopadding">
                                                            {{ info.loading.mvar_maximum.label(class_="text-center") }}
                                                            {{ info.loading.mvar_maximum(class_="form-control") }}
                                                        </div>
                                                    </div>
                                                 </fieldset>
                                            </div>
                                       </fieldset>
                                    </div>
                                    <div class="col-md-6 nopadding">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border"> Design and tests data </legend>
                                            <div class="control-group">
                                                {{ info.loading.data(class_="form-control") }}
                                            </div>
                                       </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="info-tabs-8" role="tabpanel" class="tab-pane">
                            <form action="#" method="post">
                                <div class="col-md-12 nopadding">
                                     <fieldset class="scheduler-border">
                                     <legend class="scheduler-border"> Documents </legend>
                                        <div class="control-group">
                                            <div class="col-md-12 nopadding">
                                                 <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th> Index </th>
                                                            <th> Name </th>
                                                            <th> Type </th>
                                                            <th> Description </th>
                                                            <th> File path </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12 nopadding text-center">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">View</button>
                                            </div>
                                        </div>
                                     </fieldset>
                                </div>
                                <div class="col-md-12 nopadding">
                                    <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Transfer data between equipment </legend>
                                        <div class="control-group">
                                            <div class="col-md-12 nopadding">
                                                <div class="col-md-9 nopadding padding-right-xs">
                                                    <div class="col-md-12 nopadding">
                                                        <div class="col-md-2 nopadding padding-right-xs"> <button type="button" class="btn btn-default" data-dismiss="modal">From:</button>  </div>
                                                        <div class="col-md-5 nopadding padding-right-xs"> {{ info.doc.from_1(class_="form-control") }} </div>
                                                        <div class="col-md-5 nopadding padding-right-xs"> {{ info.doc.from_2(class_="form-control") }} </div>
                                                    </div>
                                                    <div class="col-md-12 nopadding">
                                                        <div class="col-md-2 nopadding padding-right-xs"> <button type="button" class="btn btn-default" data-dismiss="modal">To:</button>  </div>
                                                        <div class="col-md-5 nopadding padding-right-xs"> {{ info.doc.to_1(class_="form-control") }} </div>
                                                        <div class="col-md-5 nopadding padding-right-xs"> {{ info.doc.to_2(class_="form-control") }} </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 nopadding">
                                                    <button type="button" class="btn btn-default margin-button" data-dismiss="modal">Transfer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                   </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default margin-button pull-left" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default margin-button pull-left" data-dismiss="modal">Cancel</button>
            </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>