{% macro render_field(field) %}
<div class="form_field">
	{{ field.label(class="label") }}
	{% if field.errors %}
	{% set css_class = 'has_error ' + kwargs.pop('class', '') %}
	{{ field(class=css_class, **kwargs) }}
	<ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
	{% else %}
	{{ field(**kwargs) }}
	{% endif %}
</div>
{% endmacro %}
{% macro form_field(field) -%}
		{% set with_label = kwargs.pop('with_label', False) %}
		{% set placeholder = '' %}
		{% if not with_label %}
				{% set placeholder = field.label.text %}
		{% endif %}
		<div class="form-group {% if field.errors %}error{% endif %}">
				{% if with_label %}
						<label for="{{ field.id }}" class="control-label">
								{{ field.label.text }}{% if field.flags.required %} *{% endif %}:
						</label>
				{% endif %}
				<div class="controls">
						{% set class_ = kwargs.pop('class_', '') %}
						{% if field.flags.required %}
								{% set class_ = class_ + ' required' %}
						{% endif %}
						{% if field.type == 'BooleanField' %}
								<label class="checkbox">
										{{ field(class_=class_, **kwargs) }}
										{{ field.label.text|safe }}
								</label>
						{% else %}
								{% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
										{% set class_ = class_ + ' input-xlarge' %}
								{% elif field.type == 'FileField' %}
										{% set class_ = class_ + ' input-file' %}
								{% endif %}
								{{ field(class_=class_, placeholder=placeholder, **kwargs) }}
						{% endif %}
						{% if field.errors %}
								<span class="error help-inline">{{ field.errors|join(', ') }}</span>
						{% endif %}
						{% if field.description %}
								<p class="help-block">{{ field.description|safe }}</p>
						{% endif %}
				</div>
		</div>
{%- endmacro %}
