#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""  Main configuration file  """

from unipath import Path

APP_NAME = 'Vision Diagnostic'
HOST = 'visiondiagnostic.org'
DEBUG = True

CACHE_TIMEOUT = 300
ROOT_DIR = Path(__file__).ancestor(1)
HOME_DIR = ROOT_DIR.parent
TMP_DIR = '/tmp'
UPLOAD_FOLDER = ROOT_DIR + '/var/uploads/'

#max upload 6 Mb
MAX_CONTENT_LENGTH = 6 * 1024 * 1024

TESTING = False
ADMINS = frozenset(['vasili.pascal@gmail.com'])

SECURITY_PASSWORD_SALT = 'SomethingSaltyYouCanNotGuesss'
SECRET_KEY = '&)\xfe\x8a\xee;\x0c\xb1\xbe\xe5\x94Z\xc3Ejs*\xe8\xfe\x13LS\x97\xd0\x81\x13\x18\xc0m\xcd;,\xc8\xb2r\xcfIY\xce\xb4\xfbx\x81t\xd5\x9f\x1dk\r\x9b'
SECURITY_RECOVERABLE = True
SECURITY_RESET_URL = '/users/forgot-password'
SECURITY_PASSWORD_HASH = 'pbkdf2_sha256'

SQLALCHEMY_DATABASE_URI = "postgresql://vision:ViSiOn@localhost/vision"
DATABASE_CONNECT_OPTIONS = {}

CSRF_ENABLED = True
CSRF_SESSION_KEY = "somethingimpossibletoguesshere"

NOREPLY_EMAIL = 'noreply@visiondiagnostic.org'
SUPPORT_EMAIL = 'support@visiondiagnostic.org'
SECURITY_EMAIL_SENDER = 'noreply@visiondiagnostic.org'

MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
MAIL_USE_TLS = False
MAIL_USE_SSL = True

RECAPTCHA_PUBLIC_KEY = ''

LANGUAGES = {
    'en': 'English',
    'fr': 'French',
    'es': 'Español'
}
BABEL_DEFAULT_LOCALE = 'en'

BLOGGING_URL_PREFIX = "/content"
BLOGGING_DISQUS_SITENAME = 'visiondiagnostic'
BLOGGING_SITEURL = HOST
BLOGGING_SITENAME = APP_NAME
BLOGGING_PERMISSIONS = True

SENTRY_DSN = ''

CELERY_BACKEND = 'redis://:pass@localhost:6379'
CELERY_BROKER_URL = 'redis://:pass@localhost:6379'
