{% extends 'base.html' %}
{% block content %}
<div class="row-fluid" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="false">
    <div>
        <div class="modal-content">
            <form class="" method="post" action="#" >
                {{form.hidden_tag()}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Insertion of a new sampling compaign </h4>
                </div>
                {% for error in form.errors  %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                <div class="modal-body">
                    <div class="maxwidth">
                        <div>
                            <button class="btn btn-default pull-right margin-right-xs" class="submit">
                                Create
                            </button>
                            <button class="btn btn-default pull-right margin-right-xs" class="close" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <p>
                        <ul id="tabs" class="nav nav-tabs " data-tabs="tabs">
                            <li class="active"> <a href="#new-tabs-1" data-toggle="tab"> Description </a> </li>
                            <li> <a href="#new-tabs-2" data-toggle="tab"> Electrical: as per user </a> </li>
                            <li> <a href="#new-tabs-3" data-toggle="tab"> Fluid: as per user </a> </li>
                            <li> <a href="#new-tabs-4" data-toggle="tab"> Test profile </a> </li>
                        </ul>
                        <div id="my-tab-content" class="tab-content maxwidth">
                            <div id="new-tabs-1" role="tabpanel" class="tab-pane active ">
                                <div class="maxwidth">
                                    <div class="col-md-9 nopadding padding-right-xs">
                                        <div class="maxwidth">
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ form.equipment.label }}
                                                {{ form.equipment(class_="form-control" , placeholder = "") }}
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ form.position.label }}
                                                {{ form.position(class_="form-control" , placeholder = "") }}
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                {{ form.fluid.label }}
                                                {{ form.fluid(class_="form-control" , placeholder = "") }}
                                            </div>
                                        </div>
                                        <div class="maxwidth">
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ form.lab.label }}
                                                <div class="form-inline">
                                                        {{ form.lab(class_="form-control") }}
                                                        <a data-toggle="modal" data-target="#labForm" class="nopadding">
                                                            <button class="btn btn-default pull-right margin-right-xs"> ... </button>
                                                        </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ form.contract_id.label }}
                                                {{ form.contract_id(class_="form-control") }}
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                {{ form.lab_no.label }}
                                                {{ form.lab_no(class_="form-control") }}
                                            </div>
                                        </div>
                                        <div class="maxwidth">
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                {{ form.date.label }}
                                                <div class="datetimepicker input-group date">
                                                    {{ form.date(class_="form-control" ) }}
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                {{ form.testing.label }}
                                                {{ form.testing(class_="form-control") }}
                                            </div>
                                            <div class="col-md-2 nopadding">
                                                {{ form.created_by.label }}
                                                {{ form.created_by(class_="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 nopadding">
                                        <div>
                                            Current test profiles <br>
                                            Fluid : None <br>
                                            Electrical : None
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="new-tabs-2" role="tabpanel" class="tab-pane">
                                <div class="maxwidth">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Tests requested</legend>
                                        <div class="control-group">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.bushing(class_="pull-left padding-right-xs") }}
                                                    {{ form.bushing.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.insulation(class_="pull-left padding-right-xs") }}
                                                    {{ form.insulation.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.degree(class_="pull-left padding-right-xs") }}
                                                    {{ form.degree.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.winding(class_="pull-left padding-right-xs") }}
                                                    {{ form.winding.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.visual(class_="pull-left padding-right-xs") }}
                                                    {{ form.visual.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.turns(class_="pull-left padding-right-xs") }}
                                                    {{ form.turns.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.winding_double(class_="pull-left padding-right-xs") }}
                                                    {{ form.winding_double.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.resistance(class_="pull-left padding-right-xs") }}
                                                    {{ form.resistance.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div id="new-tabs-3" role="tabpanel" class="tab-pane">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Syringe - Test requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.gas(class_="pull-left padding-right-xs") }}
                                                    {{ form.gas.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.furans(class_="pull-left padding-right-xs") }}
                                                    {{ form.furans.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.pcb(class_="pull-left padding-right-xs") }}
                                                    {{ form.pcb.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.water(class_="pull-left padding-right-xs") }}
                                                    {{ form.water.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.inhibitor(class_="pull-left padding-right-xs") }}
                                                    {{ form.inhibitor.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="col-md-2 nopadding padding-right-xs">
                                                {{ form.qty_ser.label }}
                                                {{ form.qty_ser(class="form-control") }}
                                            </div>
                                            <div class="col-md-10 nopadding">
                                                {{ form.sampling.label }}
                                                {{ form.sampling(class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Jar - Tests requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.dielec(class_="pull-left padding-right-xs") }}
                                                    {{ form.dielec.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.dielec_2(class_="pull-left padding-right-xs") }}
                                                    {{ form.dielec_2.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.dielec_d(class_="pull-left padding-right-xs") }}
                                                    {{ form.dielec_d.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.acidity(class_="pull-left padding-right-xs") }}
                                                    {{ form.acidity.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.color(class_="pull-left padding-right-xs") }}
                                                    {{ form.color.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.ift(class_="pull-left padding-right-xs") }}
                                                    {{ form.ift.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.density(class_="pull-left padding-right-xs") }}
                                                    {{ form.density.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.pf(class_="pull-left padding-right-xs") }}
                                                    {{ form.pf.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.pf_100(class_="pull-left padding-right-xs") }}
                                                    {{ form.pf_100.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.pcb_jar(class_="pull-left padding-right-xs") }}
                                                    {{ form.pcb_jar.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.particles(class_="pull-left padding-right-xs") }}
                                                    {{ form.particles.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.furans_f(class_="pull-left padding-right-xs") }}
                                                    {{ form.furans_f.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.inhibitor_jar(class_="pull-left padding-right-xs") }}
                                                    {{ form.inhibitor_jar.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.metals(class_="pull-left padding-right-xs") }}
                                                    {{ form.metals.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.water_w(class_="pull-left padding-right-xs") }}
                                                    {{ form.water_w.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.point(class_="pull-left padding-right-xs") }}
                                                    {{ form.point.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ form.viscosity(class_="pull-left padding-right-xs") }}
                                                    {{ form.viscosity.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ form.corr(class_="pull-left padding-right-xs") }}
                                                    {{ form.corr.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="maxwidth">
                                                {{ form.dielec_i(class_="pull-left padding-right-xs") }}
                                                {{ form.dielec_i.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                {{ form.fluid_visual(class_="pull-left padding-right-xs") }}
                                                {{ form.fluid_visual.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-2 nopadding padding-right-xs">
                                                    {{ form.qty_jar.label }}
                                                    {{ form.qty_jar(class="form-control") }}
                                                </div>
                                                <div class="col-md-10 nopadding">
                                                    {{ form.sampling_jar.label }}
                                                    {{ form.sampling_jar(class="form-control") }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">4-ml vial - Tests requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                {{ form.pcb_vial(class_="pull-left padding-right-xs") }}
                                                {{ form.pcb_vial.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                {{ form.antioxidant(class_="pull-left padding-right-xs") }}
                                                {{ form.antioxidant.label(class_="auto pull-left") }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="col-md-2 nopadding padding-right-xs">
                                                {{ form.qty_vial.label }}
                                                {{ form.qty_vial(class="form-control") }}
                                            </div>
                                            <div class="col-md-10 nopadding">
                                                {{ form.sampling_vial.label }}
                                                {{ form.sampling_vial(class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="new-tabs-4" role="tabpanel" class="tab-pane">
                                <div class="col-md-6 nopadding padding-right-xs">
                                    <div class="maxwidth">
                                        {{ form.enable_elc(class_="pull-left padding-right-xs") }}
                                        {{ form.enable_elc.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="maxwidth">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Electrical</legend>
                                            <div class="control-group">
                                                <div class="maxwidth">
                                                    {{ form.profile_elc.label(class_="") }}
                                                    {{ form.profile_elc() }}
                                                </div>
                                                <div class="maxwidth">
                                                    {{ form.description_elc.label(class_="") }}
                                                    {{ form.description_elc(class_="form-control") }}
                                                </div>
                                                <div class="maxwidth padding-top-xs" id="electrical" name="electrical">
                                                    <div class="maxwidth text-center">
                                                        <button class="btn btn-default margin-right-xs" id="electrical_modify"> Modify </button>
                                                        <button class="btn btn-default margin-right-xs" id="electrical_create"> Create </button>
                                                        <button class="btn btn-default " id="electrical_delete"> Delete </button>
                                                    </div>
                                                    <div class="maxwidth text-center padding-top-xs">
                                                        <button class="btn btn-default margin-right-xs" id="electrical_cancel"> Cancel </button>
                                                        <button class="btn btn-default margin-right-xs" id="electrical_save"> Save </button>
                                                    </div>
                                                    <input type="hidden" value="" name="electrical_select" id="electrical_select">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <div class="maxwidth">
                                        {{ form.enable_fl(class_="pull-left padding-right-xs") }}
                                        {{ form.enable_fl.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="maxwidth">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Fluid</legend>
                                            <div class="control-group">
                                                <div class="maxwidth">
                                                    {{ form.profile_fl.label(class_="") }}
                                                    {{ form.profile_fl(class_="form-control") }}

                                                </div>
                                                <div class="maxwidth">
                                                    {{ form.description_fl.label(class_="") }}
                                                    {{ form.description_fl(class_="form-control") }}
                                                </div>
                                                <div class="maxwidth padding-top-xs" id="fluid" name="fluid">
                                                    <div class="maxwidth text-center">
                                                        <button class="btn btn-default margin-right-xs" id="fluid_modify"> Modify </button>
                                                        <button class="btn btn-default margin-right-xs" id="fluid_create"> Create </button>
                                                        <button class="btn btn-default" id="fluid_delete"> Delete </button>
                                                    </div>
                                                    <div class="maxwidth text-center padding-top-xs">
                                                        <button class="btn btn-default margin-right-xs" id="fluid_cancel"> Cancel </button>
                                                        <button class="btn btn-default margin-right-xs" id="fluid_save"> Save </button>
                                                    </div>
                                                    <input type="hidden" value="" name="fluid_select" id="fluid_select">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer"> </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}