<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Insertion of a new sampling compaign </h4>
            </div>
            <div class="modal-body">
                <div class="maxwidth">
                    <div>
                        <button class="btn btn-default pull-right margin-right-xs">
                            Create
                        </button>
                        <button class="btn btn-default pull-right margin-right-xs" class="close" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
                <p>
                    <ul id="tabs" class="nav nav-tabs " data-tabs="tabs">
                        <li class="active"> <a href="#new-tabs-1" data-toggle="tab"> Description </a> </li>
                        <li> <a href="#new-tabs-2" data-toggle="tab"> Electrical: as per user </a> </li>
                        <li> <a href="#new-tabs-3" data-toggle="tab"> Fluid: as per user </a> </li>
                        <li> <a href="#new-tabs-4" data-toggle="tab"> Test profile </a> </li>
                    </ul>
                    <div id="my-tab-content" class="tab-content maxwidth">
                        <div id="new-tabs-1" role="tabpanel" class="tab-pane active ">
                            <form class="" method="post" action="#" >
                                <div class="maxwidth">
                                    <div class="col-md-9 nopadding padding-right-xs">
                                        <div class="maxwidth">
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ popups.add.description.equipment.label }}
                                                {{ popups.add.description.equipment(class_="form-control" , placeholder = "") }}
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ popups.add.description.position.label }}
                                                {{ popups.add.description.position(class_="form-control" , placeholder = "") }}
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                {{ popups.add.description.fluid.label }}
                                                {{ popups.add.description.fluid(class_="form-control" , placeholder = "") }}
                                            </div>
                                        </div>
                                        <div class="maxwidth">
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ popups.add.description.lab.label }}
                                                <div class="form-inline">
                                                        {{ popups.add.description.lab(class_="form-control") }}
                                                        <a data-toggle="modal" data-target="#labForm" class="nopadding">
                                                            <button class="btn btn-default pull-right margin-right-xs"> ... </button>
                                                        </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 nopadding padding-right-xs">
                                                {{ popups.add.description.contract.label }}
                                                {{ popups.add.description.contract(class_="form-control") }}
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                {{ popups.add.description.lab_no.label }}
                                                {{ popups.add.description.lab_no(class_="form-control") }}
                                            </div>
                                        </div>
                                        <div class="maxwidth">
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                {{ popups.add.description.date.label }}
                                                <div class="datetimepicker input-group date">
                                                    {{ popups.add.description.date(class_="form-control" ) }}
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-5 nopadding padding-right-xs">
                                                {{ popups.add.description.testing.label }}
                                                {{ popups.add.description.testing(class_="form-control") }}
                                            </div>
                                            <div class="col-md-2 nopadding">
                                                {{ popups.add.description.initials.label }}
                                                {{ popups.add.description.initials(class_="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 nopadding">
                                        <div>
                                            Current test profiles <br>
                                            Fluid : None <br>
                                            Electrical : None
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="new-tabs-2" role="tabpanel" class="tab-pane">
                            <div class="maxwidth">
                                <form class="" method="post" action="#" id="electrical_profile">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Tests requested</legend>
                                        <div class="control-group">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.bushing(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.bushing.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.insulation(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.insulation.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.electrical.degree(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.degree.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.winding(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.winding.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.visual(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.visual.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.electrical.turns(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.turns.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.winding_double(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.winding_double.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.electrical.resistance(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.electrical.resistance.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div id="new-tabs-3" role="tabpanel" class="tab-pane">
                            <form class="" method="post" action="#" id="fluid_profile" >
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Syringe - Test requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.gas(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.gas.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.furans(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.furans.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.pcb(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.pcb.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.water(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.water.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.inhibitor(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.inhibitor.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="col-md-2 nopadding padding-right-xs">
                                                {{ popups.add.fluid.qty.label }}
                                                {{ popups.add.fluid.qty(class="form-control") }}
                                            </div>
                                            <div class="col-md-10 nopadding">
                                                {{ popups.add.fluid.sampling.label }}
                                                {{ popups.add.fluid.sampling(class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Jar - Tests requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.dielec(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.dielec.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.dielec_2(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.dielec_2.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.dielec_d(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.dielec_d.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.acidity(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.acidity.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.color(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.color.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.ift(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.ift.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.density(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.density.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.pf(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.pf.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.pf_100(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.pf_100.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.pcb_jar(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.pcb_jar.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.particles(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.particles.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.furans_f(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.furans_f.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.inhibitor_jar(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.inhibitor_jar.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.metals(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.metals.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.water_w(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.water_w.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.point(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.point.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.viscosity(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.viscosity.label(class_="auto pull-left") }}
                                                </div>
                                                <div class="col-md-4 nopadding">
                                                    {{ popups.add.fluid.corr(class_="pull-left padding-right-xs") }}
                                                    {{ popups.add.fluid.corr.label(class_="auto pull-left") }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="maxwidth">
                                                {{ popups.add.fluid.dielec_i(class_="pull-left padding-right-xs") }}
                                                {{ popups.add.fluid.dielec_i.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                {{ popups.add.fluid.visual(class_="pull-left padding-right-xs") }}
                                                {{ popups.add.fluid.visual.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                <div class="col-md-2 nopadding padding-right-xs">
                                                    {{ popups.add.fluid.qty_jar.label }}
                                                    {{ popups.add.fluid.qty_jar(class="form-control") }}
                                                </div>
                                                <div class="col-md-10 nopadding">
                                                    {{ popups.add.fluid.sampling_jar.label }}
                                                    {{ popups.add.fluid.sampling_jar(class="form-control") }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">4-ml vial - Tests requested</legend>
                                    <div class="control-group">
                                        <div class="col-md-8 nopadding padding-right-xs">
                                            <div class="maxwidth">
                                                {{ popups.add.fluid.pcb_vial(class_="pull-left padding-right-xs") }}
                                                {{ popups.add.fluid.pcb_vial.label(class_="auto pull-left") }}
                                            </div>
                                            <div class="maxwidth">
                                                {{ popups.add.fluid.antioxidant(class_="pull-left padding-right-xs") }}
                                                {{ popups.add.fluid.antioxidant.label(class_="auto pull-left") }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <div class="col-md-2 nopadding padding-right-xs">
                                                {{ popups.add.fluid.qty_vial.label }}
                                                {{ popups.add.fluid.qty_vial(class="form-control") }}
                                            </div>
                                            <div class="col-md-10 nopadding">
                                                {{ popups.add.fluid.sampling_vial.label }}
                                                {{ popups.add.fluid.sampling_vial(class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div id="new-tabs-4" role="tabpanel" class="tab-pane">
                            <form class="" method="post" action="#" id="TestProfile">
                                <div class="col-md-6 nopadding padding-right-xs">
                                    <div class="maxwidth">
                                        {{ popups.add.profile.enable_elc(class_="pull-left padding-right-xs") }}
                                        {{ popups.add.profile.enable_elc.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="maxwidth">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Electrical</legend>
                                            <div class="control-group">
                                                <div class="maxwidth">
                                                    {{ popups.add.profile.profile_elc.label(class_="") }}
                                                    {{ popups.add.profile.profile_elc() }}
                                                </div>
                                                <div class="maxwidth">
                                                    {{ popups.add.profile.description_elc.label(class_="") }}
                                                    {{ popups.add.profile.description_elc(class_="form-control") }}
                                                </div>
                                                <div class="maxwidth padding-top-xs" id="electrical" name="electrical">
                                                    <div class="maxwidth text-center">
                                                        <button class="btn btn-default margin-right-xs" id="electrical_modify"> Modify </button>
                                                        <button class="btn btn-default margin-right-xs" id="electrical_create"> Create </button>
                                                        <button class="btn btn-default " id="electrical_delete"> Delete </button>
                                                    </div>
                                                    <div class="maxwidth text-center padding-top-xs">
                                                        <button class="btn btn-default margin-right-xs" id="electrical_cancel"> Cancel </button>
                                                        <button class="btn btn-default margin-right-xs" id="electrical_save"> Save </button>
                                                    </div>
                                                    <input type="hidden" value="" name="electrical_select" id="electrical_select">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <div class="maxwidth">
                                        {{ popups.add.profile.enable_fl(class_="pull-left padding-right-xs") }}
                                        {{ popups.add.profile.enable_fl.label(class_="auto pull-left") }}
                                    </div>
                                    <div class="maxwidth">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Fluid</legend>
                                            <div class="control-group">
                                                <div class="maxwidth">
                                                    {{ popups.add.profile.profile_fl.label(class_="") }}
                                                    {{ popups.add.profile.profile_fl(class_="form-control") }}

                                                </div>
                                                <div class="maxwidth">
                                                    {{ popups.add.profile.description_fl.label(class_="") }}
                                                    {{ popups.add.profile.description_fl(class_="form-control") }}
                                                </div>
                                                <div class="maxwidth padding-top-xs" id="fluid" name="fluid">
                                                    <div class="maxwidth text-center">
                                                        <button class="btn btn-default margin-right-xs" id="fluid_modify"> Modify </button>
                                                        <button class="btn btn-default margin-right-xs" id="fluid_create"> Create </button>
                                                        <button class="btn btn-default" id="fluid_delete"> Delete </button>
                                                    </div>
                                                    <div class="maxwidth text-center padding-top-xs">
                                                        <button class="btn btn-default margin-right-xs" id="fluid_cancel"> Cancel </button>
                                                        <button class="btn btn-default margin-right-xs" id="fluid_save"> Save </button>
                                                    </div>
                                                    <input type="hidden" value="" name="fluid_select" id="fluid_select">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer"> </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>