<div class="modal fade" id="infoForm" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Diagnostic report for equipment :</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="col-md-3 nopadding padding-right-xs text-center">
                    <p> <button class="btn btn-default margin-right-xs"> Print </button> </p>
                    <p> <button type="button" class="btn btn-default margin-right-xs" data-dismiss="modal">Cancel</button> </p>
                </div>
                <div class="col-md-9 nopadding text-center">
                    <p> -> : Recommendations. </p>
                    <p> *  : Diagnosis with deferred consequence. </p>
                    <p> ** : Diagnosis with immediate consequence. </p>
                </div>
            </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>