{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>{{ table_title }} list</h2>
    <table class="table">
        <thead>
            <tr>
                {% for key in keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    {% for key in keys %}
                        <td>{{ item[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}