{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>{{ data['table_title'] }} list</h2>
    <table class="table">
        <thead>
            <tr>
                {% for key in data['keys'] %}
                    <th>{{ data['names'][key] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data['items'] %}
                <tr>
                    {% for key in data['keys'] %}
                        <td>{{ item[key] }}</td>
                    {% endfor %}
                    <td><a href="edit/{{ item['id'] }}">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}