<div class="modal fade" id="searchForm" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Equipment search </h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-8 nopadding padding-right-xs">
                            <div class="col-md-12 nopadding">
                                Enter the equipment number to search for. Find next - press F3
                            </div>
                            <div class="col-md-12 nopadding padding-top-xs">
                                {{ search.equipment(class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-4 nopadding">
                            <div class="col-md-12 nopadding text-center">
                                <button type="button" class="btn btn-default">Ok</button>
                            </div>
                            <div class="col-md-12 nopadding text-center padding-top-xs">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer text-center"> </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>