.fa-large{
    font-size: 20px;
}
.equal_container{
    position:relative;
    width:100%;
    min-height: inherit;
    height: 100%;
}
.equal_col{
    min-height: inherit;
    height: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.no-gutter > [class*='col-'] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.inline-li >li{
    float:left;
}
.margin-bottom-xs {margin-bottom: 1%;}
.margin-bottom-sm {margin-bottom: 2%;}
.margin-bottom-md {margin-bottom: 3%;}
.margin-bottom-lg {margin-bottom: 4%;}

.margin-right-xs {margin-right: 1% !important;}
.margin-right-sm {margin-right: 2%;}
.margin-right-md {margin-right: 3%;}
.margin-right-lg {margin-right: 4%;}

.margin-top-xs {margin-top: 1% !important;}
.margin-top-sm {margin-top: 2%;}
.margin-top-md {margin-top: 3%;}
.margin-top-lg {margin-top: 4%;}

.padding-top-xs {padding-top: 1% !important;}
.padding-top-sm {padding-top: 2%;}
.padding-top-md {padding-top: 3%;}
.padding-top-lg {padding-top: 4% !important;}

.padding-bottom-xs {padding-top: 1% !important;}
.padding-bottom-sm {padding-top: 2%;}
.padding-bottom-md {padding-top: 3%;}
.padding-bottom-lg {padding-top: 4%;}

.padding-right-xs {padding-right: 1% !important;}
.padding-right-sm {padding-right: 2%;}
.padding-right-md {padding-right: 3%;}
.padding-right-lg {padding-right: 4%;}

.underline{
    width: 100%;
    border: 2px solid black;
}
.margin-center{
    margin-top: 30px !important;
}
.margin-button{
    margin-top: 25px !important;
}
.margin-check{
    margin-top: 12px !important;
}
.font-i{
    font-size: 22px;
}
.tab_row > div {
    margin-bottom: 1% !important;
}
#my-tab-content label{
    width: 100%;
}
#my-tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1% !important ;
    position: relative;
}
#my-tab-content textarea{
    resize: vertical;
    height: 150px;
}
.vertical_textarea{
    resize: vertical;
}
.auto{
    width: auto !important;
}
.maxwidth{
    width: 100%;
    position: relative;
    float: left;
}
fieldset.scheduler-border {
    border: 1px groove #fcfcfc !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #ccc;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0px;
}

.modal-dialog{
    width: 80%;
    height: 1000px;
}
.container {
    width: 80%;
}
.select2-selection {
    height: 33px!important;
}


/* Styles for charts */
.bottom-left{
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.bottom-right{
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;

    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.shadow {
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.pad{
    padding:20px;
}

.browser-legend{
    font-size:14px;
    opacity:.8;
}

.bottom-left-svg{
    padding-top:40px;
    text-align: center;
}


.bottom-right-svg{
    text-align: center;
}

.line {
    fill: none;
    stroke: #7dc7f4;
    stroke-width: 3px;

}

.axis{
    fill:#bbc7d9;
    opacity: 1;
    background: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 14px;
}

.y-grid .tick{
    stroke: #4b5f87;
    opacity: 1;
}

.default-svg{

}
.line.h2 {
    stroke: #7dc7f4;
    background: #7dc7f4 !important;
}
.line.co {
    stroke: #E60D0D;
    background: #E60D0D !important;
}
.line.c2h2 {
    stroke: #4C0DE6;
    background: #4C0DE6 !important;
}
.line.c2h6 {
    stroke: #6AE60D;
    background: #6AE60D !important;
}
.line.c2h4 {
    stroke: #EDF418;
    background: #EDF418 !important;
}
.line.content_gaz {
    stroke: #E60DD5;
    background:#E60DD5 !important;
}
.line.co2 {
    stroke: #A50DE6;
    background: #A50DE6 !important;
}
.line.ch4 {
    stroke: #346B0F;
    background: #346B0F !important;
}
.line.cap_gaz {
    stroke: #988300;
    background: #988300 !important;
}
.line.n2 {
    stroke: #692E62;
    background: #692E62 !important;
}
.line.o2 {
    stroke: #0DE686;
    background: #0DE686 !important;
}

.line.dielectric_1816 {stroke: #a4b712;background: #a4b712 !important;}

.line.dielectric_1816_2 {stroke: #6585dd;background: #6585dd !important;}
.line.dielectric_877 {stroke: #a00f59;background: #a00f59 !important;}
.line.dielectric_iec_156 {stroke: #0DE686;background: #0DE686 !important;}
.line.acidity {stroke: #cbed85;background: #cbed85 !important;}
.line.color {stroke: #11703d;background: #11703d !important;}
.line.ift {stroke: #8fd833;background: #8fd833 !important;}
.line.density {stroke: #be387c;background: #be387c !important;}
.line.pf20c {stroke: #5a887f;background: #5a887f !important;}
.line.pf100c {stroke: #a2ecc5;background: #a2ecc5 !important;}
.line.sludge {stroke: #f3baa2;background: #f3baa2 !important;}
.line.aniline_point {stroke: #442127;background: #442127 !important;}
.line.viscosity {stroke: #88761b;background: #88761b !important;}
.line.flash_point {stroke: #963c08;background: #963c08 !important;}
.line.pour_point {stroke: #e9c10f;background: #e9c10f !important;}
.line.inhibitor {stroke: #d2c8b1;background: #d2c8b1 !important;}
.line.water {stroke: #fe0c81;background: #fe0c81 !important;}
.line.aroclor_1242 {stroke: #1ece1a;background: #1ece1a !important;}
.line.aroclor_1254 {stroke: #c702f7;background: #c702f7 !important;}
.line.aroclor_1260 {stroke: #359189;background: #359189 !important;}
.line.hmf {stroke: #ccbabf;background: #ccbabf !important;}
.line.fol {stroke: #455a3f;background: #455a3f !important;}
.line.fal {stroke: #a1c315;background: #a1c315 !important;}
.line.acf {stroke: #fd47c6;background: #fd47c6 !important;}
.line.mef {stroke: #121212;background: #121212 !important;}

.legend{
    padding:20px 0 20px 30px;
}
.legend_head label{
    display: block;
    background: rgba(0,0,0,0.5) !important;
    color:#fff;
    font-weight:bold;
    padding:5px 0 5px 40px;
}
.legend_block{
    border:1px solid rgba(0,0,0,0.2) !important;
    border-radius:4px;
    margin:4px;
    width:calc(50% - 8px);
    overflow: hidden;
}
.legend .item{
    padding:0 0 0 5px;
}
.legend .item:hover,.legend .item.active{
    font-weight:bold;
}
.legend .line{
    display: inline-block;
    width: 30px;
    height: 5px;
    margin:0 5px 0 0;
    vertical-align: middle;
}
.grapth_table{
    background:rgba(0,0,0,0.15) !important;
    border-spacing: 3px;
    border-collapse: separate;
}
.grapth_table td{
    padding: 5px;
    background: #fff !important;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 375px;
    padding: 0 5px;
    margin:10px 15px 0 0;
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
@media print{
    .no_print{
        display:none;
    }
}
li .active{
    font-weight: bold;
    color: #f00 !important;
}