{% extends 'admin.html' %}

{% block body %}
    {{ super() }}

    <div class="row-fluid">
        <div style="position:relative;">
            {% if current_user.is_authenticated() %}
                {% if tree is defined %}
                    {# {% include 'admin/diagnostic/old-toolbar.html' %}#}
                {% endif %}
                <div class="col-md-3 equal_col">
                    {% include 'widgets/tree.html' %}
                </div>
                <div class="col-md-9" id="app">
                </div>
            {% else %}
            <form method="POST" action="">
                {{ form.hidden_tag() if form.hidden_tag }}
                {% for f in form if f.type != 'CSRFTokenField' %}
                <div>
                {{ f.label }}
                {{ f }}
                {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>
                {% endfor %}
                <button class="btn" type="submit">Submit</button>
            </form>
            {{ link | safe }}
            {% endif %}
        </div>
    </div>
{% endblock body %}