{% extends 'admin.html' %}

{% block body %}
    {{ super() }}
    <div class="row-fluid">
        <div class="row" style="min-height: 800px;">

            <div class="col-md-4">
                <div class="maxwidth" style="padding-top: 5%;">
                    <input id="plugins4_q" class="input maxwidth" type="text" style="margin:0em auto 1em auto; display:block; padding:5px; border-radius:4px; border:1px solid silver;" value="">
                </div>
                <div id="menu" class="demo maxwidth">
                    {{ _(menu) }}
                </div>
            </div>
            <div class="col-md-8" style="">
                <div class="row">
                     <h1> Page Select </h1>
                </div>
                <div class="row">
                    <form class="" method="post" id="menuView" action="#" >
                        {{ menu_view.hidden_tag() }}
                        <div class="form-group">
                            <label for="page_view">Select Page</label>
                            {{ menu_view.page_view(class_="form-control") }}
                            {# menu_view.node_id() #}
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block tail %}
    <script src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/diagnostic/Tree.js') }}"></script>
{% endblock tail %}