<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav w1000">
        <li class="active"><a href="{{ url_for('users.home') }}">Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="pull-left active">
          </li>
        <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name }} <img src="{{user.avatar(28)}}"><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('users.home') }}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li><a href="{{ url_for('users.profile') }}"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
