{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('home.home') }}">{{ _('Vision Diagnostic') }}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if request.path == "/content/page/1/" %} class="active" {% endif %}>
				<a href="{{ url_for('blogging.page_by_id', post_id=1) }}">{{ _('About') }}</a></li>
				<li><a href="/forum"><i class="fa fa-comment"></i>&nbsp;{{ _('Forum') }}</a></li>
				<li class="dropdown {% if 'wiki' in request.path %}active{% endif %}">
					<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>&nbsp;{{ _('Wiki') }}&nbsp;<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{{ menu_item('wiki') | safe }}
						<li><a href="{{ url_for('home.wiki_devs') }}">{{ _('Developers') }}</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% block navbar_right %}
				{% if current_user.is_authenticated() %}
				<li><a href="{{ url_for('admin.index') }}" title="{{ current_user.name|striptags|title }}'s dashboard">{{ _('Dashboard') }}</a></li>
				<li><a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ _('Logout') }}</a></li>
				{% else %}
				<li><a href="{{ url_for('users.register') }}">{{ _('Register') }}</a></li>
				<li><a href="{{ url_for('users.login') }}">{{ _('Login') }}</a></li>
				{% endif %}

				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">{{ g.locale|upper }}&nbsp;<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for lang in config.LANGUAGES %}
							<li><a href="{{ url_for('home.lang', lang=lang) }}">{{ lang|upper }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endblock %}
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
{% endblock %}
