{% block navbar %}
<div class="navbar navbar-default " role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('home.home') }}">{{ _('Vision Diagnostic') }}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if request.path == "/content/page/1/" %} class="active" {% endif %}>
				<a href="{{ url_for('blogging.page_by_id', post_id=1) }}">{{ _('About') }}</a></li>
				<li><a href="/forum"><i class="fa fa-comment"></i>&nbsp;{{ _('Forum') }}</a></li>
				<li>
					<ul class="nav navbar-nav">
						<li> 
							<a href="#" class="dropdown-toggle active" data-toggle="dropdown">Wiki <span class="caret"></span></a>
							
							<ul class='dropdown-menu multi-level'>
								<li><a href="/wiki/vision-diagnostic-objectives">Objectives</a></li>
								<li><a href="/wiki/Users">Users</a></li>
								<li><a href="/wiki/How to">How to</a></li>
								<li><a href="/manual/technical-information">Technical Information</a></li>
								<li><a href="/wiki/developers">Developers</a></li>
							</ul>
						</li>
					</ul>
				</li>
                <li><a href="http://159.203.47.5/" title="WITTAM is a transformer thermal model simulator in steady and transient mode. Include moisture and gas (future) modeling partition between oil and paper">
                    <i class="fa fa-connectdevelop"></i>&nbsp;{{ _('Transformer thermal model simulator') }}</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% block navbar_right %}
				{% if current_user.is_authenticated() %}
				<li><a href="{{ url_for('admin.index') }}" title="{{ current_user.name|striptags|title }}'s dashboard">{{ _('Dashboard') }}</a></li>
				<li><a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{ _('Logout') }}</a></li>
				{% else %}
				<li><a href="{{ url_for('users.register') }}">{{ _('Register') }}</a></li>
				<li><a href="{{ url_for('users.login') }}">{{ _('Login') }}</a></li>
				{% endif %}

				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">{{ g.locale|upper }}&nbsp;<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for lang in config.LANGUAGES %}
							<li><a href="{{ url_for('home.lang', lang=lang) }}">{{ lang|upper }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endblock %}
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</div>
{% endblock %}
