<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Permission denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="page not found">
    <meta name="keywords" content="page not found">
    <meta charset="utf-8">
    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% include 'widgets/analytics.html' %}
  </head>
  <body>
    <div class="main-menu">
      <div class="w1000">
        {% include 'widgets/topmenu.html' %}
      </div>
    </div>
    <div class="header">
      <div class="w1000">
        <div>
          <div class="right-section">
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="center-divider"></div>

    <div class="grey-background profile-page">
      <div class="w1000">
        <div class="title-container title orange-text container">Permission denied</div>
        <div class="profile white arial">
          <div class="title orange-text" style="font-size: 150pt;">403</div>
          <div style="margin-top:100px">
            You don't have the permission to access this page
            <br>
            <a href="{{ url_for('home.home') }}" style="text-decoration:underline;">back to home page</span></a>
        </div>
        </p>
        </div>
        <div class="shadow-outer mb8"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  {% block bottommenu %}
  {% include 'widgets/bottom-menu.html' %}
  {% endblock %}

  {% block footer %}
  {% include 'widgets/footer.html' %}
  {% endblock %}

  {% block js_footer %}
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  {% endblock %}
</body>
</html>
