{% extends 'admin/base.html' %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jstree.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selectize.bootstrap3.css') }}">

    <style type="text/css">
        .fa-large{
            font-size: 20px;
        }
        .equal_container{
            position:relative;
            width:100%;
            min-height: inherit;
            height: 100%;
        }
        .equal_col{
            min-height: inherit;
            height: 100%;
        }

        .nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }

        .no-gutter > [class*='col-'] {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .inline-li >li{
            float:left;
        }
        .margin-bottom-xs {margin-bottom: 1%;}
        .margin-bottom-sm {margin-bottom: 2%;}
        .margin-bottom-md {margin-bottom: 3%;}
        .margin-bottom-lg {margin-bottom: 4%;}

        .margin-right-xs {margin-right: 1% !important;}
        .margin-right-sm {margin-right: 2%;}
        .margin-right-md {margin-right: 3%;}
        .margin-right-lg {margin-right: 4%;}

        .margin-top-xs {margin-top: 1% !important;}
        .margin-top-sm {margin-top: 2%;}
        .margin-top-md {margin-top: 3%;}
        .margin-top-lg {margin-top: 4%;}

        .padding-top-xs {padding-top: 1% !important;}
        .padding-top-sm {padding-top: 2%;}
        .padding-top-md {padding-top: 3%;}
        .padding-top-lg {padding-top: 4% !important;}

        .padding-bottom-xs {padding-top: 1% !important;}
        .padding-bottom-sm {padding-top: 2%;}
        .padding-bottom-md {padding-top: 3%;}
        .padding-bottom-lg {padding-top: 4%;}

        .padding-right-xs {padding-right: 1% !important;}
        .padding-right-sm {padding-right: 2%;}
        .padding-right-md {padding-right: 3%;}
        .padding-right-lg {padding-right: 4%;}

        .underline{
            width: 100%;
            border: 2px solid black;
        }
        .margin-center{
            margin-top: 30px !important;
        }
        .margin-button{
            margin-top: 25px !important;
        }
        .margin-check{
            margin-top: 12px !important;
        }
        .font-i{
            font-size: 22px;
        }
        .tab_row > div {
            margin-bottom: 1% !important;
        }
        #my-tab-content label{
            width: 100%;
        }
        #my-tab-content{
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 1% !important ;
        }
        #my-tab-content textarea{
            resize: vertical;
            height: 150px;
        }
        .vertical_textarea{
            resize: vertical;
        }
        .auto{
            width: auto !important;
        }
        .maxwidth{
            width: 100%;
            position: relative;
            float: left;
        }
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
        }
        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width:auto;
            padding:0 10px;
            border-bottom:none;
            margin-bottom: 0px;
        }

        .modal-dialog{
            width: 80%;
            height: 1000px;
        }
        .container {
            width: 80%;
        }
    </style>
{% endblock head %}

{% block main_menu %}
	<div id="navbar" class="navbar-collapse collapse in">
        {{ super() }}
        {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-large" ></i>
                        {{ current_user.login }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ url_for('admin.logout_view') }}">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>

   <div id="app"></div>

{% endblock main_menu %}

{% block tail %}
    <script src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>

{#    <script src="{{ url_for('static', filename='js/diagnostic/lab.js') }}"></script>#}
{#    <script type="text/javascript">#}
{#        LAB.init([ '{{ url_for("lab.create") }}' , '{{ url_for("lab.get_all") }}'#}
{#        , '{{ url_for("lab.delete") }}' ,  '{{ url_for("lab.modify") }}' ,  ]);#}
{#    </script>#}
    <script src="{{ url_for('static', filename='js/diagnostic/test_profile.js') }}"></script>

    <script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>



    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker();
            $('.datepicker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>

    <script type="text/javascript" >

        function stringifyObject ( obj ) {
          if ( $.isArray( obj ) || (typeof obj !== "object") ) {
            return obj.toString()
          }
          var seen = [];
          return JSON.stringify(
            obj,
            function( key, val ) {
              if (val != null && typeof val == "object") {
                if ( seen.indexOf( val ) >= 0 )
                  return
                  seen.push( val )
              }
              return val
            }
          );
        }

        $("#treeView").submit(function(e){
            $.post('{{ url_for("tree.update") }}', $( this ).serialize()
            ,function(data){
                if(data.status == "OK"){
                    alert("View is updated");
                    $("#tree #" + data.id + "_anchor .jstree-icon").attr({
                         'data-original-title' : data.tooltip
                        ,'title' : data.tooltip
                    });
                }else{
                    alert("Error in submiting");
                }

            }).fail(function () {
                alert("Something went wrong");
            });
            e.preventDefault();
        });

        $('#tree').jstree({
             //  for admin "contextmenu"
             "plugins" : [ "search" , "json_data" , "types"  , "contextmenu" , 'dnd' , 'state' , 'changed' ]
            ,"core" : {
                 "animation" : 0
                ,"check_callback" : function (operation, node, node_parent, node_position, more) {
                    // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                    // in case of 'rename_node' node_position is filled with the new node name
                    var res = true;
                    if(operation === 'delete_node'){
                        if(node.hasOwnProperty('immediate') == true){
                            <!-- delete node immediately  -->
                        } else {
                            if(confirm("Are you sure you want to delete the element?")){}
                            else {
                                res = false;
                            }
                        }
                    }
                    return res;
                    //return operation === 'rename_node' ? true : false;
                }
            }
            ,"types" : {
                "#" : {
                  "max_children" : 1,
                  "max_depth" : 10,
                  "valid_children" : ["Vision Diagnostic"]
                }
                ,"root" : {
                  "icon" : "",
                  "valid_children" : ["default","air_bkr","bkr","main","bushing","capacitor","induc,mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,"default" : {
                  "valid_children" : ["default","file","main","air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'main' : {
                     "icon" : "../app/static/img/icons/main_b.ico"
                    ,"valid_children" : ["default","file",'main',"air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'air_bkr' : {
                     "icon" : "../app/static/img/icons/air_bkr_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'bkr' : {
                     "icon" : "../app/static/img/icons/bkr_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'bushing' : {
                     "icon" : "../app/static/img/icons/bushing_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'capacitor' : {
                     "icon" : "../app/static/img/icons/capacitor_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'induc' : {
                     "icon" : "../app/static/img/icons/induc_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'mcc' : {
                     "icon" : "../app/static/img/icons/mcc_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'rect' : {
                     "icon" : "../app/static/img/icons/rect_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'source' :{
                     "icon" : "../app/static/img/icons/source_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'switch' :{
                     "icon" : "../app/static/img/icons/switch_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'synch' :{
                     "icon" : "../app/static/img/icons/synch_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'tank' :{
                     "icon" : "../app/static/img/icons/tank_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'tc' :{
                     "icon" : "../app/static/img/icons/tc_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'transfo' :{
                     "icon" : "../app/static/img/icons/transfo_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
                ,'cable' :{
                     "icon" : "../app/static/img/icons/cable_b.ico"
                    ,"valid_children" : ["air_bkr","bkr","bushing","capacitor","induc","mcc","rect","source","switch","synch","tank","tc","transfo",'cable']
                }
            }
            // for admin "contextmenu"
            ,'contextmenu' : {
                'items' : function(node) {
                    tmp = $.jstree.defaults.contextmenu.items();
                    delete tmp.create.action;

                    var current = $('#tree').jstree(true).get_selected('full',true)[0];

                    if( (this.get_type(node) !== "default")
                        && ((this.get_type(node) !== "root"))
                    )
                    {
                        tmp['status'] = {
                             'label' : "Status"
                            ,'submenu' : {
                                'on' : {
                                    "separator_after"	    : true
                                    ,"label"				: "Normal"
                                    ,"action"			    : function (data){
                                        var inst = $.jstree.reference(data.reference),
                                        obj = inst.get_node(data.reference);
                                        <!-- change status to on -->
                                        $.post('{{ url_for("tree.status") }}', { 'node_id' : obj.id , 'status' : 1 }
                                        ,function(data){
                                            if(data.status == "OK"){
                                                $("#tree #" + obj.id + " > a > i").css('background-image','url(' + data.src +')');
                                            }

                                        }).fail(function () {
                                            console.log(fail);
                                            data.instance.refresh();
                                        });
                                    }
                                }
                                ,'medium' : {
                                      "separator_after"	    : true
                                    ,"label"				: "Warning"
                                    ,"action"			    : function (data){
                                        var inst = $.jstree.reference(data.reference),
                                        obj = inst.get_node(data.reference);
                                        <!-- change status to on -->
                                        $.post('{{ url_for("tree.status") }}', { 'node_id' : obj.id , 'status' : 2 }
                                        ,function(data){
                                            if(data.status == "OK"){
                                                $("#tree #" + obj.id + " > a > i").css('background-image','url(' + data.src +')');
                                            }

                                        }).fail(function () {
                                            console.log(fail);
                                            data.instance.refresh();
                                        });
                                    }
                                }
                                ,'off' : {
                                     "separator_after"	    : true
                                    ,"label"				: "Danger"
                                    ,"action"			    : function (data){
                                        var inst = $.jstree.reference(data.reference),
                                        obj = inst.get_node(data.reference);
                                        <!-- change status to off -->
                                        $.post('{{ url_for("tree.status") }}', { 'node_id' : obj.id , 'status' : 0 }
                                        ,function(data){
                                            if(data.status == "OK"){
                                                $("#tree #" + obj.id + " > a > i").css('background-image','url(' + data.src +')');
                                            }

                                        }).fail(function () {
                                            console.log(fail);
                                            data.instance.refresh();
                                        });
                                    }
                                }
                            }
                        };

                        <!--tmp['split'] = {-->
                             <!--'label' : 'Split'-->
                            <!--,"separator_before"  : false    // Insert a separator before the item-->
	                        <!--,"separator_after"   : true,     // Insert a separator after the item-->
                            <!--"action" : function (data) {-->
                                 <!--var inst = $.jstree.reference(data.reference),-->
                                 <!--obj = inst.get_node(data.reference);-->

                                 <!--console.log("split " + obj.id);-->
                            <!--},-->
                        <!--}-->

                        tmp['join'] = {
                            'label' : 'Join'
                            ,"separator_before"  : false    // Insert a separator before the item
	                        ,"separator_after"   : true,     // Insert a separator after the item
	                        "action" : function (node){
	                            var inst = $.jstree.reference(node.reference),
                                obj = inst.get_node(node.reference);

                                console.log("Join " + obj.id);
                                ids = [];
                                console.log(ids.length);
                                $.each( $('#tree').jstree(true).get_selected('full',true) , function( index , value){
                                        if(value.id != obj.id){
                                            ids[ids.length] = value.id;
                                        }
                                });

                                $.post('{{ url_for("tree.join") }}', { 'node_id' : obj.id , 'to_join' : JSON.stringify(ids) }
                                ,function(data){
                                    if(data.status == "OK"){
                                        <!-- TODO -->
                                        $.each( data.joined , function(index, value){
                                            $('#tree').jstree(true).delete_node($("#" + value));
                                        });
                                    }

                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });

	                        }
                        }

                    }

                    if(typeof current !== 'undefined'){
                        if( current.parents.length >= 9){

                            tmp.create.label = '';
                            tmp.ccp.label = '';

                            delete tmp.ccp.submenu.paste;
                            delete tmp.ccp.submenu.cut;
                            delete tmp.ccp.submenu.copy;

                            return tmp;
                        }
                    }

                    tmp.create.label = "New";
                    tmp.create.submenu = {
                         'main' : {
                             "separator_after"	    : true
                            ,"label"				: "Main"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "New Main" , 'icon' : '../app/static/img/icons/main_b.ico' , 'type' : 'main' , tooltip : "Main tooltip" }
                                ,function(data){

                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'New Main' + data.id , 'icon' : '../app/static/img/icons/main_b.ico' , type: 'main' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            <!--$("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Main tooltip" + data.id }).tooltip({-->
                                                <!--track: true-->
                                            <!--});-->
                                            inst.edit(new_node); },0);
                                    });


                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'air_bkr' : {
                             "separator_after"	    : true
                            ,"label"				: "Air Bkr"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Air Bkr" , 'icon' : '../app/static/img/icons/air_bkr_b.ico' , 'type' : 'air_bkr' , tooltip : "Air Bkr tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Air Bkr' + data.id , 'icon' : '../app/static/img/icons/air_bkr_b.ico' , type: 'air_bkr' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Air Bkr tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'bkr' : {
                             "separator_after"	    : true
                            ,"label"				: "Bkr"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Bkr" , 'icon' : '../app/static/img/icons/bkr_b.ico' , 'type' : 'bkr' , tooltip : "Bkr tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Bkr' + data.id , 'icon' : '../app/static/img/icons/bkr_b.ico' , 'type' : 'bkr' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Bkr tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'bushing' : {
                             "separator_after"	    : true
                            ,"label"				: "Bushing"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Bushing" , 'icon' : '../app/static/img/icons/bushing_b.ico' , 'type' : 'bushing' , tooltip : "Bushing tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Bushing' + data.id , 'icon' : '../app/static/img/icons/bushing_b.ico' , 'type' : 'bushing' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Brushing tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'capacitor' : {
                             "separator_after"	    : true
                            ,"label"				: "Capacitor"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Capacitor" , 'icon' : '../app/static/img/icons/capacitor_b.ico' , 'type' : 'capacitor' , tooltip : "Capacitor tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Capacitor' + data.id , 'icon' : '../app/static/img/icons/capacitor_b.ico' , 'type' : 'capacitor' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Capacitor tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'induc' : {
                             "separator_after"	    : true
                            ,"label"				: "Induc"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Induc" , 'icon' : '../app/static/img/icons/induc_b.ico' , 'type' : 'induc' , tooltip : "Induc tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Induc' + data.id , 'icon' : '../app/static/img/icons/induc_b.ico' , 'type' : 'induc' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Induc tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'mcc_b' : {
                             "separator_after"	    : true
                            ,"label"				: "Mcc"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Mcc" , 'icon' : '../app/static/img/icons/mcc_b.ico' , 'type' : 'mcc' , tooltip : "Mcc tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Mcc' + data.id , 'icon' : '../app/static/img/icons/mcc_b.ico' , 'type' : 'mcc' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Mcc tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'rect' : {
                             "separator_after"	    : true
                            ,"label"				: "Rect"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Rect" , 'icon' : '../app/static/img/icons/rect_b.ico' , 'type' : 'rect' , tooltip : "Rect tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Rect' + data.id , 'icon' : '../app/static/img/icons/rect_b.ico' , 'type' : 'rect' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Rect tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'source' : {
                             "separator_after"	    : true
                            ,"label"				: "source"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Source" , 'icon' : '../app/static/img/icons/source_b.ico' , 'type' : 'source' , tooltip : "Source tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Source' + data.id , 'icon' : '../app/static/img/icons/source_b.ico' , 'type' : 'source' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Source tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'switch' : {
                             "separator_after"	    : true
                            ,"label"				: "switch"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Switch" , 'icon' : '../app/static/img/icons/switch_b.ico' , 'type' : 'switch' , tooltip : "Switch tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Switch' + data.id , 'icon' : '../app/static/img/icons/switch_b.ico' , 'type' : 'switch' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Switch tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'synch' : {
                             "separator_after"	    : true
                            ,"label"				: "Synch"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Synch" , 'icon' : '../app/static/img/icons/synch_b.ico' , 'type' : 'synch' , tooltip : "Synch tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Synch' + data.id , 'icon' : '../app/static/img/icons/synch_b.ico' , 'type' : 'synch' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Synch tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'tank' : {
                             "separator_after"	    : true
                            ,"label"				: "Tank"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Tank" , 'icon' : '../app/static/img/icons/tank_b.ico' , 'type' : 'tank' , tooltip : "Tank tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'Tank' + data.id , 'icon' : '../app/static/img/icons/tank_b.ico' , 'type' : 'tank' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Tank tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'tc' : {
                             "separator_after"	    : true
                            ,"label"				: "Tc"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Tc" , 'icon' : '../app/static/img/icons/tc_b.ico' , 'type' : 'tc' , tooltip : "Tc tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'tc' + data.id , 'icon' : '../app/static/img/icons/tc_b.ico' , 'type' : 'tc' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Tc tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'transfo' : {
                             "separator_after"	    : true
                            ,"label"				: "Transfo"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Transfo" , 'icon' : '../app/static/img/icons/transfo_b.ico' , 'type' : 'transfo' , tooltip : "Transfo tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'transfo' + data.id , 'icon' : '../app/static/img/icons/transfo_b.ico' , 'type' : 'transfo' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Transfo tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                        ,'cable' : {
                             "separator_after"	    : true
                            ,"label"				: "Cable"
                            ,"action"			    : function (data){
                                var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                                $.post('{{ url_for("tree.create") }}', { 'parent' : obj.id , 'text' : "Transfo" , 'icon' : '../app/static/img/icons/cable_b.ico' , 'type' : 'cable' , tooltip : "Cable tooltip" }
                                ,function(data){
                                    inst.create_node(obj, { 'id' : data.id , 'text' : 'cable' + data.id , 'icon' : '../app/static/img/icons/cable_b.ico' , 'type' : 'cable' }
                                            , "last", function (new_node) {

                                        setTimeout(function () {
                                            $("#tree #" + obj.id +"_anchor .jstree-icon").attr({ 'title' : "Cable tooltip" + data.id }).tooltip({
                                                track: true
                                            });
                                            inst.edit(new_node); },0);
                                    });
                                }).fail(function () {
                                    console.log(fail);
                                    data.instance.refresh();
                                });
                            }
                        }
                    };

                    if( (this.get_type(node) === "default")
                        || ((this.get_type(node) === "root"))
                    )
                    {
                        $.each(tmp.create.submenu , function(index, value){
                            if( value.label !== 'Main' ){
                                //console.log(tmp.create.submenu[index]);
                                delete tmp.create.submenu[index];
                                //delete value;
                                //delete this;
                            }
                        });

                    }else if(this.get_type(node) != "main"){
                        //delete main submenu
                        delete tmp.create.submenu.main;
                    }

                    if(this.get_type(node) === "file") {
                        delete tmp.create;
                    }

                    if( node.state != null && node.state.disabled == true)
                    {
                        delete tmp.rename;
                        delete tmp.remove;
                        tmp.ccp.label = '';
                        delete tmp.ccp.submenu.paste;
                        delete tmp.ccp.submenu.cut;
                    }

                    delete tmp.ccp.submenu.copy;
                    return tmp;
                }
			}
        }).on('delete_node.jstree', function (e, data ) {
                $.post('{{url_for("tree.delete")}}', { 'id' : data.node.id } ,function(data ){
                    //alert(data.id == true );
                }).fail(function () {
                    data.instance.refresh();
                });

             }).on('rename_node.jstree', function (e, data) {
			    $.post('{{url_for("tree.rename")}}', { 'id' : data.node.id, 'text' : data.text } ,function(data){
                        //alert(data.success == true );
                }).fail(function () {
	    			data.instance.refresh();
				});
            }).on('move_node.jstree', function (e, data) {
                $.post('{{url_for("tree.move")}}', { 'node_id' : data.node.id, 'parent_id' : data.parent } ,function(data ){
                    //alert(data.success == true );
                }).fail(function () {
	    			data.instance.refresh();
				});

			})
            .on('copy_node.jstree', function (e, data){
//                $.post('{{url_for("tree.copy")}}', { 'node_id' : data.original.id , 'parent_id' : data.parent } ,function(d){
//                    if(d.status == "OK"){
//                        data.instance.refresh();
//                    }else{
//                        alert("Something went wrong");
//                    }
//                }).fail(function () {
//	    			data.instance.refresh();
//				});

			}).on('select_node.jstree', function (e, data) {
                    $("#treeView #node_id").val(data.node.id);

                    $.post('{{ url_for("tree.getview") }}', { 'node_id' : data.node.id } ,function(res){
                        if(res.view){
                            $("#treeView #view").val(res.view);
                            $("#treeView #tooltip").val(res.tooltip);
                        }
                    }).fail(function () {

                    });
			}).on('ready.jstree', function (e, data){

			    $("#tree li").each(function(){
			        var title = $(this).attr('title');
			        if(title != 'undefined'){
			            var id = $(this).attr('id');
			            <!--console.log(title);-->
			            $("#tree #" + id + "_anchor .jstree-icon").attr({ 'title' : title }).tooltip({
			                track: true
			            });
			            $(this).removeAttr('title');
                    }
			    });
            });


        var to = false;
        $('#plugins4_q').keyup(function () {
            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
              var v = $('#plugins4_q').val();
              $('#tree').jstree(true).search(v);
            }, 250);
        });

        $( document ).ready(function(){
            $('#delete_btn').click(function(){
                var current = $('#tree').jstree(true).get_selected('full',true)[0];
                if(current != undefined){
                    if(confirm("Are you sure you want to delete " + current.text + " ?")){
                        current.immediate = true;
                        $('#tree').jstree(true).delete_node(current);
                    }
                }
            });

            $('#graphics_btn').click(function(){
                var current = $('#tree').jstree(true).get_selected('full',true)[0];
                if(current != undefined){
                    $('#test_map_name').html(current.text);
                }
            });

            $('#info_btn').click(function(){
                var current = $('#tree').jstree(true).get_selected('full',true)[0];
                if(current != undefined){
                    var data = '<p class="text-center">North Huron\\' + current.text + '\\' + 'TODO' +  ', Oil' + '<br>';
                    data +='Transformer Sealed, Pri. voltage (V):' + 'TODO' + ', BIL (kV): : ' + 'TODO' + '</p>';
                    data +='<p class="text-center"> TODO </p>'
                    $('#infoForm .modal-body').html(data);
                }
            });

            $("#manage_show").click(function(e){
                $("#manage_add_form").removeClass('hidden');
                e.preventDefault();
            });

            $("#manage_cancel").click(function(e){
                $("#manage_add_form").addClass('hidden');
                e.preventDefault();
            });
        });


         <!-- This script adds the Roboto font to our project. For more detail go to this site:  http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->
    </script>

    <script>
        var WebFontConfig = {
          google: { families: [ 'Roboto:400,300,500:latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
    </script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/main.css') }}">
  <script src="{{ url_for('static', filename='build/app.js') }}"></script>


{% endblock tail %}

