{% extends 'admin/base.html' %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/admin.min.css') }}">
    <script type="text/javascript">
        var url = {
            update: '{{ url_for("tree.update") }}',
            create: '{{ url_for("tree.create") }}',
            delete: '{{ url_for("tree.delete") }}',
            rename: '{{ url_for("tree.rename") }}',
            move: '{{ url_for("tree.move") }}',
            copy: '{{ url_for("tree.copy") }}',
            getView: '{{ url_for("tree.getview") }}',
            treeUpdate: '{{ url_for("tree.update") }}',
            treeStatus: '{{ url_for("tree.status") }}',
            treeJoin: '{{ url_for("tree.join") }}',
            treeCreate: '{{ url_for("tree.create") }}',
            treeDelete: '{{ url_for("tree.delete") }}',
            treeRename: '{{ url_for("tree.rename") }}',
            treeMove: '{{ url_for("tree.move") }}',
            treeCopy: '{{ url_for("tree.copy") }}',
            treeGetView: '{{ url_for("tree.getview") }}'
        };
        var treeStruct = {{ _(tree) }};
{#</div>#}
    </script>

{% endblock head %}

{% block main_menu %}
	<div id="navbar" class="navbar-collapse collapse in">
        {{ super() }}
        {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-large" ></i>
                        {{ current_user.login }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ url_for('admin.logout_view') }}">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock main_menu %}

{% block tail %}
    <script src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='src/diagnostic/Tree.js') }}"></script>#}
    <script>
        var WebFontConfig = {
          google: { families: [ 'Roboto:400,300,500:latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
    </script>
  <script src="{{ url_for('static', filename='build/app.js') }}"></script>

{% endblock tail %}

