<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <title>{% block title %}Vision Diagnostic{% endblock %}</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        {% block style %}
        {% endblock style %}
        {% block extrastyle %}
        {% endblock extrastyle %}
    {% endblock %}
    {% include 'widgets/analytics.html' %}
  </head>
  <body>
	{% include 'widgets/topmenu.html' %}
    {% block header %}
    {% endblock %}
    {% block top %}
    <div class="{% block top_banner %}home-main{% endblock %}">
      <div class="w1000">
        <div>
          <a href="{{ url_for('home.home') }}">
            <div class="logo"></div>
          </a>
          <div class="right-section">
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% include 'widgets/flash.html' %}
    {% block content %}
    <div class="center-divider"></div>
    <div class="h800 container page">
      <div class="">
        {% block leftcontent %}
        {% endblock leftcontent %}
        {% block topcontent %}
        {% endblock %}
        {% block rightcontent %}
        <div class="right-side"></div>
        {% endblock %}
        <div class="clear"></div>
      </div>
    </div>
    {% endblock %}
    {% block bottommenu %}
    {% include 'widgets/bottom-menu.html' %}
    {% endblock %}
    {% block footer %}
    <div class="center-divider"></div>
    {% include 'widgets/footer.html' %}
    {% endblock %}
    {% block js_footer %}
        {% block extrajs %}
            <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/jquery-ui.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/common.js') }}"></script>

			<script type="text/javascript" >
				<!--$(document).ready(function(){-->
					<!--$(".dropdown-menu > li > a.trigger").on("click",function(e){-->
						<!--console.log();-->
						<!--var current = $(this).next();-->
						<!--var grandparent=$(this).parent().parent();-->
						<!--if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))-->
							<!--$(this).toggleClass('right-caret left-caret');-->
						<!--grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');-->
						<!--grandparent.find(".sub-menu:visible").not(current).hide();-->
						<!--current.toggle();-->
						<!--e.stopPropagation();-->
					<!--});-->

					<!--$(".dropdown-menu > li > a:not(.trigger)").on("click",function(){-->
						<!--var root=$(this).closest('.dropdown');-->
						<!--root.find('.left-caret').toggleClass('right-caret left-caret');-->
						<!--root.find('.sub-menu:visible').hide();-->
					<!--});-->
				<!--});-->
			</script>

            {% block js %}
            {% endblock %}
        {% endblock extrajs %}
    {% endblock %}
  </body>
</html>
