<!doctype html>
<html>
    <head>
        <title>Equipment Report</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>

    </head>
    <body>
        <h2 id="test">Equipment Reporttt</h2>

        <table width="100%" border="1">
            <thead>
                <tr>
                    <th colspan="6">Equipment Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id:</td>
                    <td>999</td>
                    <td>Serial No:</td>
                    <td>05627-2	Name:</td>
                    <td>REG 51</td>
                </tr>
            </tbody>
        </table>
        <svg width="960" height="500" >
            <circle r="100" stroke="brown" stroke-opacity="0.5" fill="none"></circle>
            <circle r="200" stroke="steelblue" stroke-opacity="0.5" fill="none"></circle>
        </svg>
        <script>
                document.getElementById("test").innerText = "aaaaa";
            </script>
    </body>
</html>
